{% extends 'dashboard/applicant/applicant_dashboard_base.html' %}
{% load static %}

{% block title %}Applied Jobs{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/dashboard/applicant/applicant_applied_jobs.css' %}">
{% endblock %}

{% block dashboard_content %}
<div class="main-content-header">
    <h2>Applied Jobs {% if application_count %}<span class="count-badge">({{ application_count }})</span>{% endif %}</h2>
</div>
{% include 'jobs/applicant_job_table.html' %}
{% endblock %}

