{% extends 'dashboard/admin/admin_dashboard_base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/dashboard/admin/admin_applicants.css' %}">
{% endblock %}

{% block title %}Applicants | JobConnect{% endblock %}

{% block dashboard_content %}
<div class="admin-content">
    <div class="page-header">
      <h2>Applicants</h2>
    </div>

    <div class="applicants-list">
      {% if applicants %}
        {% for applicant in applicants %}
          <div class="applicant-card">
            <div class="applicant-left">
              {% if applicant.applicant_profile_rel.image %}
                <img src="{{ applicant.applicant_profile_rel.image.url }}" class="profile-image" alt="Profile Image">
              {% else %}
                <img src="{% static 'defaults/default-avatar.png' %}" class="profile-image" alt="Default Image">
              {% endif %}
              <div>
                <h4 class="applicant-name">
                  {{ applicant.first_name }} {% if applicant.middle_name %}{{ applicant.middle_name }} {% endif %}{{ applicant.last_name }}
                </h4>
                <div class="applicant-info">
                  <span><i class="fas fa-map-marker-alt"></i> {{ applicant.applicant_profile_rel.location|default:"N/A" }}</span>
                  <span><i class="fas fa-dollar-sign"></i> {{ applicant.applicant_profile_rel.year_level|default:"Unknown" }} Years experience</span>
                </div>
              </div>
            </div>
            <div class="applicant-right">
              <a href="{% url 'dashboard:admin_applicant_detail' applicant.id %}" class="view-btn">
                  View Profile <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>

        {% endfor %}
      {% else %}
        <p>No applicants have viewed yet.</p>
      {% endif %}
    </div>
</div>
{% endblock %}
