{% extends 'dashboard/admin/admin_dashboard_base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/dashboard/admin/admin_job_postings.css' %}">
{% endblock %}

{% block title %}Active Job Posting | Admin Dashboard{% endblock %}

{% block dashboard_content %}
<div class="admin-content">
    <h2 class="page-title">Active Job Postings</h2>

    <div class="job-list">
      <div class="job-list-header">
        <span>Job</span>
        <span>Date Applied</span>
        <span>Status</span>
        <span>Action</span>
      </div>

      {% if active_jobs %}
        {% for job in active_jobs %}
        <!-- Reusable Job Card Start -->
        <div class="job-card">
          <div class="job-left">
            <img src="{% static 'cover.png' %}" alt="{{ job.company_name }} Logo" class="job-logo">
            <div class="job-info">
              <div class="job-info-left">
                <p class="job-name">{{ job.title }}</p>

                {% if job.badge == "Full Time" %}
                  <span class="badge fulltime">Full Time</span>
                {% elif job.badge == "Remote" %}
                  <span class="badge remote">Remote</span>
                {% elif job.badge == "Contract Base" %}
                  <span class="badge contract">Contract Base</span>
                {% elif job.badge == "Temporary" %}
                  <span class="badge temporary">Temporary</span>
                {% elif job.badge %}
                  <span class="badge">{{ job.badge }}</span>
                {% endif %}
              </div>
              <div class="job-meta">
                <span><i class="fas fa-map-marker-alt"></i> {{ job.location }}</span>
                {% if job.min_salary and job.max_salary %}
                <span><i class="fas fa-dollar-sign"></i> {{ job.min_salary }} - {{ job.max_salary }}</span>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="job-right">
            <span class="job-date">
                {{ job.posted_at|date:"M d, Y" }} · {{ job.posted_at|time:"H:i" }}
            </span>

            <span class="status active"><i class="fas fa-circle"></i> {{ job.status }}</span>
            <button class="view-btn">View Details <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
        <!-- Reusable Job Card End -->
        {% endfor %}
      {% else %}
        <p class="no-jobs">No active job postings found.</p>
      {% endif %}
    </div>
</div>
{% endblock %}
